

 .bodyz {
    background-color: #fdf1ec;
  }
  
  .wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .zproduct-img {
    float: left;
    height: 420px;
    width: 327px;
  }
  
  .zoduct-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    float: left;
    height: 520px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    /* background-color: #ffffff; */
  }
  
  .product-text {
    height: 300px;
    width: 327px;
  }
  
  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 12px;
    font-size: 28px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Coiny', cursive;
    color: #192a56;
  }
  
  .product-text h2 {
    margin: 0 0 12px 38px;
    font-size: 13px;
    font-family: 'Coiny', cursive;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 200px;
    margin: 0 0 0 38px;
    font-family: 'Coiny', cursive;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 45px;
    position: relative;
  }
  
  .product-price-btn p {
    
    display: inline-block;
    position: absolute;
    top: -40px;
    height: 50px;
    font-family: 'Coiny', cursive;
    margin: 0 0 0 38px;
    font-size: 12px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Coiny', cursive;
    font-size: 34px;
  }

  .button, input{
    margin: 1rem;
    border-radius: 2rem;
    border:var(--border);
   padding:1rem;
   font-size: 1.8rem;
   color:var(--green);

  }
  
  .product-price-btn button {
    float: right;
    display: inline-block;
    height: 39px;
    width: 176px;
    margin: 15px 20px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Coiny', cursive;
    font-size: 14px;
    font-weight: 500;
    /* text-transform: uppercase; in hoa */
    /* letter-spacing: 0.2em; */
    color: #ffffff;
    background-color: #192a56;
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: var(--green);
  }

  @media (max-width:991px) {
   
    html{
       font-size: 55%;
    }
 
 }

 @media (max-width:768px){
    .wrapper {
        height: 250px;
        width: 300px;
        margin: 50px auto;
        border-radius: 7px 7px 7px 7px;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
      }
      
      .product-img {
        width: 300px;
        height: 420px;
      }
      
      .product-img img {
        border-radius: 2rem;
      }
      
      .product-info {
        float: right;
        height: 420px;
        width: 327px;
        border-radius: 2rem;
        background-color: #fff;
      }
      
      .product-text {
        /* width: 400px; */
        /* height: 200px; */
        
      }
 }



 @media (max-width:450px) {


 }